body {
	background-color: #AAA;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.3em;

}

h2{
    position: absolute;
	color: white;
	margin-left: 100px;
}

.title {
    color: white;
}

.board {
    margin-top: 50px;
} 

input {
	background-color:#d3a0d8;
	font-size: 6vw;
	width: 10vw;
	height:10vw;
	margin: 0;
	color: #d3a0d8;

}

#player {
	display: inline;
}

#restart {
	position: absolute;
	margin-top: 2%;
	width: 12vw;
	height:6vw;
	font-size: 1em;
	color: black;
    border-radius: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}